@using MDManagement.Web.ViewModels.Management
@model AllEployeesViewModel

@{
    ViewData["Title"] = "All Employees";
}

<table class="table table-primary">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Middle Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Salary
            </th>
            <th>
                Job Title
            </th>
            <th>
                Department
            </th>
            <th>
                Assign a task
            </th>
            <th>
                Edit User
            </th>
        </tr>
    </thead>
    <tbody >
        @foreach (var employee in Model.Employees)
        {
            @foreach (var user in employee.Subordinates)
            {
                if (!user.IsCompanyConfirmed == false)
                {
                    <tr>
                        <th>
                            @user.FirstName
                        </th>
                        <th>
                            @user.MiddleName
                        </th>
                        <th>
                            @user.LastName
                        </th>
                        <th>
                            @user.Salary
                        </th>
                        <th>
                            @user.JobTitle
                        </th>
                        <th>
                            @user.Department
                        </th>
                        <th>
                            <a  class="btn btn-primary btn-xl" asp-controller="Project" asp-action="Assign" asp-route-employeeId="@user.EmployeeId">Assign a task</a>
                        </th>
                        <th>
                            <a class="btn btn-primary btn-xl" asp-controller="Management" asp-action="EditUser" asp-route-employeeId="@user.EmployeeId">Edit User</a>
                        </th>
                    </tr>
                }
            }
        }
    </tbody>
</table>