@using MDManagement.Web.ViewModels.Management
@model AllEployeesViewModel

@{
    ViewData["Title"] = "AllEmployees";
}

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Middle Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Salary
            </th>
            <th>
                Job Title
            </th>
            <th>
                Department
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            @foreach (var user in employee.Subordinates)
            {
                <tr>
                    <th>
                        @user.FirstName
                    </th>
                    <th>
                        @user.MiddleName
                    </th>
                    <th>
                        @user.LastName
                    </th>
                    <th>
                        @user.Salary
                    </th>
                    <th>
                        @user.JobTitle
                    </th>
                    <th>
                        @user.Department
                    </th>
                    <th>
                        <a asp-controller="Management" asp-action="EditUser" asp-route-employeeId="@user.EmployeeId">Edit User</a>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>