@using MDManagement.Web.ViewModels.Management;
@model AllUnconfirmedEmployeeViewModel
@{
    ViewData["Title"] = "Unconfirmed employees";
}

<div class="bg-primary p-4 rounded mt-xl-n5 shadow">
    <div class="row justify-content-start">
        <h1 class="ml-4">Unconfirmed employees</h1>
    </div>
    <hr />
    <table class="table table-primary">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Middle Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Hire Date
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Address
                </th>
                <th>
                    Job Title
                </th>
                <th>
                    Department
                </th>
                <th>
                    Manager
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.AllUnconfirmedEmployees)
            {
                <tr>
                    <th>
                        @user.FirstName
                    </th>
                    <th>
                        @user.MiddleName
                    </th>
                    <th>
                        @user.LastName
                    </th>
                    <th>
                        @user.HireDate
                    </th>
                    <th>
                        @user.Salary
                    </th>
                    <th>
                        @user.Town, @user.Address
                    </th>
                    <th>
                        @user.JobTitle
                    </th>
                    <th>
                        @user.Department
                    </th>
                    <th>
                        @user.Manager
                    </th>
                    <th>
                        <a class="btn btn-primary btn-xl" asp-controller="Management" asp-action="ConfirmEmployee" asp-route-employeeId="@user.EmployeeId">View Details</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
